<!-- Абнормал -->
{% if abnormal_type_data and abnormal_type_pic %}
<div class="skill-section fadeIn">
	<p class="section-star">★</p>
	<h2 class="section-title">Абнормал</h2>
	<div class="skill-content">
		<div class="item-row">
			<img class="item-icon"
				 onerror="this.onerror=null; this.src='https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/no_monster/no_monster_image.png'"
				 src="{{ abnormal_type_pic }}">
			<a href="{{ url_for('abnormals.abnormal_detail', aid=abnormal_type_data[0]) }}"
			   class="item-name">{{ abnormal_type_data[1] }}</a>
		</div>
	</div>
</div>
{% endif %}


