<!DOCTYPE html>
<html>
<head>
    {% include "favicon.html" %}

    <!-- Analytics -->
    {% include "analytics.html" %}
    
    <title>[{{ abnormal.abnormal_data.AType }}] {{ abnormal.abnormal_data.AName }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="stylesheet" href="/static/bg/css/detail_css.css">
</head>
<body>
    <div class="back-button-container">
        <button class="back-button" onclick="window.history.back()">
            <i class="fas fa-arrow-left"></i>
            Назад
        </button>
        <button class="theme-toggle" id="theme-toggle" aria-label="Переключить тему">
            <i class="fas fa-adjust"></i>
        </button>
    </div>

    <main>
        {% include 'main_page_menu.html' %}
        <div class="container text-center">

             <!-- Заголовок Mobile -->
             <div class="detail-title-mobile">
                <h1 class="monster-title-mobile fadeIn">
                    <span class="monster-title-text-mobile">{{ abnormal.abnormal_data.AName }}</span>
                    <div class="monster-title-glow-mobile"></div>
                </h1>
            </div>
            
            <!-- Первый блок -->
            <div class="row">

                <!-- Информация -->
                <div class="col-12 col-md-6">
                    {% include 'abnormal_core/detail/abnormal_page_detail_information.html' %}




                </div>

                <!-- Второй блок -->
                <div class="col-12 col-md-6">
                    <!-- Заголовок -->
                    <div class="detail-title-desktop">
                        <h1 class="monster-title fadeIn">
                            <span class="monster-title-text">{{ abnormal.abnormal_data.AName }}</span>
                            <div class="monster-title-glow"></div>
                        </h1>
                    </div>
                    
                    <!-- Связанные скиллы -->
                    {% include 'abnormal_core/detail/abnormal_page_linked_skills.html' %}

                    <!-- Связанные предметы -->
                    {% include 'abnormal_core/detail/abnormal_page_linked_items.html' %}
                    
                    <!-- Описание аномалии -->
                    {% include 'abnormal_core/detail/abnormal_page_adesc.html' %}

                    <!-- Секция Модули -->
                    {% include 'abnormal_core/detail/abnormal_page_module.html' %}
                </div>
            </div>
        </div>
    </main>
    {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

        <script src="/static/bg/js/main_js_others.js"></script>
    {% endblock %}
</body>
</html>